*{
    margin:0px;
    padding: 0px;
  /*  box-sizing: border-box;*/
}
#head{
    background-color: blanchedalmond;
    color: black;
    
}
 #log{
    width:1000px;
    float:left;
    height:25px;
}
#number{
    width:1000px;
    float: right;
    height:25px;
}
#header{
text-align: center;
background-color: black;
color: #f5f5f5;
padding-top: 10px;
}
#icons{
width:100%;
margin: auto;
padding-left:150px;
padding-top: 100px;
padding-right: 100px;
padding-bottom: 300px;
background-color: black;
color:white;
height: 200px;
}
.one{
    height: 200px;;
    width:350px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius: 20px;
}
.one img{
    padding: 10px;
}
 .two{
    height: 200px;
    width:350px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius: 20px;
}
.two img{
    padding: 10px;
}
.three{
    height: 200px;;
    width:350px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius: 20px;
}
.three img{
    padding: 10px;
}
.four{
    height: 200px;;
    width:350px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius:  20px;
}
.four img{
    padding: 10px;
}
.five{
    height: 200px;;
    width:350px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius: 20px;
}
.five img{
    padding: 10px;
}
.six{
    height: 200px;;
    width:350px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius: 20px;
}
.six img{
    padding: 10px;
}
.footer{
    background-color: lightslategray;
    color:white;
    
    text-align: center;
  }
  .footer p{
 margin-bottom: 50px;
  }
  .clear{
      clear:both;
  }