*{
    margin:0px;
    padding: 0px;
}
#head{
    background-color: blanchedalmond;
    color: black;
    
}
#log{
    width:100px;
    float:left;
    height:15px;
}
#number{
    width:800px;
    float: right;
}
#header{
text-align: center;
background-color: black;
color: #f5f5f5;
padding-top: 10px;
}
#icons{
width:910px;
margin: auto;
padding:220px ;
background-color: black;
color:white;
height: 200px;
}
.one{
    height: 200px;;
    width:300px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius: 20px;
}
.two{
    height: 200px;
    width:300px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius: 20px;
}
.three{
    height: 200px;;
    width:300px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius: 20px;
}
.four{
    height: 200px;;
    width:300px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius:  20px;
}
.five{
    height: 200px;;
    width:300px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius: 20px;
}
.six{
    height: 200px;;
    width:300px;
    float:left;
    text-align: center;
    background-color: thistle;
    border:1px groove gray ;
    border-radius: 20px;
}
.footer{
    background-color: lightslategray;
    color:white;
    
    text-align: center;
  }
  .footer p{
 margin-bottom: 50px;
  }
  .clear{
      clear:both
  }